
html {
	background: #004 url(images/vegas.jpg) no-repeat center fixed;
	background-size: cover;
	color: rgba(255,255,255,.7);
	overflow: hidden;
}

body {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: none;
}

a { color: inherit; }

/*  Background  */

.vegas {
	width: 100%; height: 100%;
	background: url(images/vegas.jpg) no-repeat center fixed;
	background-size: cover;
	display: none;
	position: fixed;
	top: 0; left: 0;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

/*  Header  */

.vegas-header {
	width: 100%; height: 100%;
	background: rgba(0,0,64,.5);
	line-height: .8;
	position: relative;
}
.vegas-header-center {
	width: 100%;
	margin-top: -70px;
	position: absolute;
	top: 50%; left: 0;
	text-align: center;
}
.vegas-title {
	color: #fff;
	font-size: 100px;
	font-weight: 800;
	margin-bottom: 20px;
}
.vegas-subtitle { font-size: 50px; }

/*  RSVP Containers  */

.vegas-rsvp {
	width: 600px;
	margin: 0 auto;
	padding: 100px 0;
	position: relative;
	}

.vegas-section {
	background: rgba(0,0,64,.8);
	margin-bottom: 2px;
	padding: 30px;
}

.vegas-step-1,
.vegas-step-2,
.vegas-step-3 { background: rgba(0,0,64,.9); color: #fff; }
.vegas-form {}
.vegas-hotels { padding: 0; }
.vegas-submit { background: transparent; }

.vegas-toggle { display: none; }

/*  RSVP Content  */

.vegas-rsvp-h1 {
	color: #fff;
	font-size: 60px;
	font-weight: 800;
	letter-spacing: .2em;
}
.vegas-rsvp-h2 {
	font-size: 18px;
	letter-spacing: .1em;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.vegas-rsvp-p { font-size: 24px; }

.vegas-date .vegas-rsvp-h1,
.vegas-date .vegas-rsvp-p { display: inline-block; }
.vegas-date .vegas-rsvp-h1 { margin-right: 150px; }

.vegas-bool { text-align: center; }
.vegas-bool-option {
	width: 200px;
	display: inline-block;
	font-size: 36px;
	line-height: 80px;
	-webkit-transition: .3s;
	transition: .3s;
}
.vegas-bool-option:hover { background: rgba(0,0,64,.9); color: #fff; }
.vegas-bool-option.selected { background: #fff; color: #004; }

.vegas-rsvp-input {
	width: 100%;
	color: #004;
	font-size: 20px;
	line-height: normal;
	margin-bottom: 15px;
	padding: 15px;
}
.vegas-rsvp-label { font-size: 18px; margin: 0 15px; }
.vegas-rsvp-plus { width: 60px; text-align: center; }

.vegas-hotel {
	cursor: pointer;
	padding: 20px 30px;
	position: relative;
	-webkit-transition: .3s;
	transition: .3s;
}
.vegas-hotel:hover { background: rgba(0,0,64,.9); color: #fff; }
.vegas-hotel a { border-bottom: 1px dotted #fff; }
.vegas-hotel:active,
.vegas-hotel.selected { background: #fff; color: #004; }
.vegas-hotel.selected:after {
	width: 7px; height: 21px;
	border: 0 solid #004;
	border-width: 0 5px 5px 0;
	content: '';
	position: absolute;
	right: 40px; top: 30px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-transform: rotate(45deg);
}
.vegas-hotel.selected a { border-color: #004; }
.vegas-hotel-name { font-size: 30px; font-weight: 300; margin-bottom: 5px; }
.vegas-hotel-blurb { font-size: 18px; letter-spacing: .05em; }

.vegas-submit-button {
	width: 240px; height: 80px;
	background: rgba(255,255,255,.7);
	border-radius: 40px;
	color: #004;
	display: block;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: .2em;
	line-height: 80px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: .3s;
	transition: .3s;
}
.vegas-submit-button:hover { background: #fff; }

.vegas-success {
	width: 340px;
	background: rgba(255,255,255,.9);
	color: #004;
	display: none;
	margin: -75px 0 0 -170px;
	padding: 30px;
	position: fixed;
	top: 50%; left: 50%;
	text-align: center;
}
.vegas-success-h1 { margin-bottom: 10px; }
.vegas-going,
.vegas-not-going { display: none; }

/*  Errors  */

.error {
	background: #f07;
	color: #fff;
	display: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 50px;
	margin-bottom: 2px;
	padding: 0 15px;
}
