
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	color: #333;
	font: 100%/1 'proxima-nova', 'Helvetica Neue', Arial, sans-serif;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
}

body { height: 100%; margin: 0; position: relative; }

h1,
h2,
h3,
p { margin: 0; }
a { color: #16a; cursor: pointer; text-decoration: none; }
img { vertical-align: bottom; }

input,
textarea {
	border: 0;
	color: inherit;
	font: inherit;
	font-size: inherit;
	margin: 0;
	resize: none;
	-webkit-font-smoothing: inherit;
}

table { width: 100%; border-collapse: collapse; border-spacing: 0; }
